.Case
{
    border: 2px solid black;
    height: 400px;
    width: 215px;
    position: absolute;
    left: 43%;
    top: 13%;
}
.KeyPad
{
    border:2px solid black;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 58%;
    left: 13%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    
}
.KeyCircle
{
    border: 2px solid black;
    height:80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 22%;
   
    
}

.Key1
{
    position: absolute;
    top:-30%;
    left: 30%;
}
.Key2
{
    position: absolute;
    left: -39%;
    top: 41%;
}
.Key3
{
    top: 40%;
    position: absolute;
    left: 106%;
}

.Key4
{
    position: absolute;
    top: 107%;
    left: 44%;
}


#selectButton {
    position: absolute;
    left: 43px;
    top: 46px;
    border: 2px solid black;
    height: 37%;
    border-radius: 50%;
    width: 40%;
}