.Monitor
{
    border: 2px solid black;
    height: 206px;
    width: 287px;
    position: absolute;
    left: 8%;
    top: 2%;
    padding: 0%;
    border-radius:20px ;
    background-color: white;
    background-image: url('./assets/jon-tyson-eIhH7RTlTZA-unsplash.jpg');
    background-size: cover;
    /* bottom: 58.07%; */

/* background: url(.jpg), #FFFFFF; */
}
.Menu
{
    display: block;
    border: 2px solid black;
    width: 156px;
    height: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.Menu ul
{
    height: 100%;
    position: absolute;
    left: -40px;
    top: -17px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.Menu ul li{
    list-style: none;
    border: 2px solid black;
    height: 23%;
    width: 152px;
   
}
#one
{
    border-top-left-radius: 20px;

}
#last
{
    border-bottom-left-radius: 20px;
}