#CoverFlow
{
    background-image: url('https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2015&q=80');
    height: 206px;
    width: 287px;
    background-size: contain;
    position: absolute;
    border-radius: 20px;
    top:0px;
    
}

#Games
{
    background-image: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
    height: 206px;
    width: 287px;
    background-size: contain;
    position: absolute;
    border-radius: 20px;
    top:0px;
    
}
#Setting
{
    background-image: url('https://images.unsplash.com/photo-1613205132101-06b9a203905a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80');
   
    height: 206px;
    width: 287px;
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    top:0px;
}